extends layout

block content
  div.jumbotron
    h1=title
  div.container
    div.row
      div.col-md-6
        form
          .form-group
            label(for='exampleInputName1') Full Name
            input#exampleInputName1.form-control(name='name' type='name', aria-describedby='nameHelp', placeholder='Enter name')
          .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(name='email' type='email', aria-describedby='emailHelp', placeholder='Enter email')
          button.btn.btn-primary(type='submit', formmethod='post') Submit
       
